.de-xuat-container {
  border: 1px solid #e1e5eb;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  margin: 20px 0 0;

  .title {
    display: inline;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    background: white;
    text-shadow: 0 0 10px white;
  }

  .close-button {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
  }
  .close-button:hover {
    opacity: 0.7;
  }
}
.list-de-tai-container {
  margin-top: -20px;
}

.add-de-xuat-button {
  width: 100%;
  margin-top: 20px;
}
