.tin_tuc_page-container {
  padding: 2rem 0;
  display: flex;
}

.posts-container {
  flex: 2;
}

.posts-container .title {
  color: #2196f3;
}

.calendar-container {
  flex: 1;
  padding: 0 1rem;
}

.react-calendar {
  border: none !important;
  box-shadow: 0 2px 0 rgb(90 97 105 / 11%), 0 4px 8px rgb(90 97 105 / 12%), 0 10px 10px rgb(90 97 105 / 6%), 0 7px 70px rgb(90 97 105 / 10%) !important;
  border-radius: .625rem;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}
