.pr-05r {
  padding-right: 0.5rem;
}

.icon-button {
  cursor: pointer;
}
.icon-button:hover {
  opacity: 0.7;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex-filler {
  flex: 1;
}

.blue-text {
  color: #2196f3;
}

.hidden {
  display: none;
}
