.pr-05r {
  padding-right: 0.5rem;
}

.mr-05r {
  margin-right: 0.5rem;
}

.p-0 {
  padding: 0 !important;
}

.p-1r {
  padding: 1rem !important;
}

.m-1r {
  margin: 1rem !important;
}

.m-15r {
  margin: 1.5rem !important;
}

.icon-button {
  cursor: pointer;
}
.icon-button:hover {
  opacity: 0.7;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-filler {
  flex: 1;
}

.blue-text {
  color: #2196f3;
}

.hidden {
  display: none;
}

/* .blue-clickable {
  color: #2196f3;
  cursor: pointer;
} */

.blue_link {
  color:#2196f3;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: underline;
  text-decoration-color: #2196f300;
  text-underline-offset: 0.1rem;
}

.blue_link:hover {
  text-decoration-color: #2196f3;
}

.relative_wrap {
  position: relative;
}

.absolute_child {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
}
.absolute_child-rb {
  position: absolute;
  right: 0;
  bottom: 0;
}

.nav-bar-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-bar-icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transition: 0.2s;
  cursor: pointer;
}
.nav-bar-icon-button:hover {
  background-color: #007bff;
}

.nav-bar-icon {
  font-size: 2.25rem !important;
  margin: 0 0.75rem;
}

.nav-bar-icon:hover {
  opacity: 1;
}

.c-fade {
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 200px;
}
.c-fade:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1.2em;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.clickable {
  cursor: pointer;
}

.min_height_100 {
  /* min-height: 100%; */
  min-height: calc(100vh - 120px);
}

.btn-group .MuiSvgIcon-fontSizeSmall {
  font-size: 0.75rem;
}

.c-table_container {
  padding: 10px !important;
}

.c-table {
  border: 1px solid rgba(0,0,0,.1);
}

.c-table tbody tr:hover {
  background: #e0f3ff;
}

.c-table th {
  text-align: center;
  border-right: 1px solid #dee2e6 !important;
  cursor: pointer;
  color: #007bff;
  background-color: rgba(0,0,0,.03);
  vertical-align: middle !important;
  /* background-color: white; */
}

.c-table td {
  border-right: 1px solid #dee2e6 !important;
  font-weight: 400;
}

.c-table tbody tr:nth-child(2n) {
  background-color: rgba(0,0,0,.03);
}

/* .c-table tbody tr:nth-child(2n - 1) {
  background-color: rgba(0,0,0,.03);
} */

.width-100 {
  width: 100%;
}

.t-button-font {
  font-weight: 700;
  font-size: 1em;
}

.t-button {
  background: #fff;
  transition: all .2s ease;
  font-weight: 700;
  font-size: 1em;
  color: #007bff;
}

.t-button:hover {
  background: #007bff;
  color: #eee;
}

.t-button:disabled {
  opacity: .5;
  cursor: default;
  border: none;
  background: #f8f9fa;
  color: #007bff;
}

.t-button-group {
  display: flex;
}

.btn-fsize-small {
  font-weight: 400;
  font-size: .75em;
}

.avatar-pic {
  max-width: 2.5rem;
  border-radius: 50%!important;
}

.ml-l {
  margin-left: 5px;
}

.mb-15 {
  margin-bottom: 15px;
}

.small-icon {
  font-size: 1.1rem !important;
}

.dis-inline {
  display: inline;
}

.pos-relative {
  position: relative;
}

.small-icon-span {
  -webkit-writing-mode: vertical-lr;
}

.mt-n10 {
  margin-top: -10px;
}

.public-pages-container {
  padding: 2rem 0;
  display: flex;
}

.public-pages-container .main-area {
  flex: 2;
}

.flat-card {
  box-shadow: none;
  border: 2px solid #e1e5eb;
}

.blue-border {
  border-color: #007bff;
}

.full-width-line {
  width: 100%;
  height: 3px;
  background-color: #3d5170;
}

.large-logo {
  width: 6rem;
  margin: 0 0.75rem;
  vertical-align: bottom;
}

.c-nav-bar {
  display: flex;
  align-items: center;
  background-color: #2196f3;
  color: white;
  height: 80px;
}

.c-nav-bar .nav-item.dropdown span {
  color: white;
}

.c-nav-bar .dropdown-toggle::after {
  color: white;
}

.c-nav-bar--white {
  display: flex;
  align-items: center;
  /* background-color: #2196f3; */
  color: #2196f3;
  height: 80px;
}

.c-nav-bar--white .nav-item.dropdown span {
  color: #2196f3;
}

.c-nav-bar--white .dropdown-toggle::after {
  color: #2196f3;
}

.c-nav-bar--white .nav-bar-icon-button:hover {
  color: white;
}

.one-line {
  white-space: nowrap;
}

.toaster-container div[role=status] {
  font-weight: 400;
}

.ql-bieumau {
  position:relative;
  color: #3d5170 !important
}

.ql-bieumau:hover {
  color: #06c !important
}

.ql-bieumau:before {
  content: "\f15c";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  left: 0;
}

/* .ql-bieumau:before {
  display: inline-block;
  font: FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);

  content: "\f15c";
} */

.loading-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255, 0.95);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.g-click-zone {
  position: absolute;
  width: 100%;
  height: 100%;
}